<!-- (click)="emitirToggleHome()" -->
<div class="top-bar">
  <!-- Logo animado -->
  <img src="assets/img/logo.png"   alt="Logo" class="logo" />

  <div class="top-options">
    <!-- Botón de progreso con emoji divertido y texto motivador -->
    <button class="progreso-button" title="¡Mira cuánto has aprendido!"  (click)="emitirToggleDetalles()" >📊 ¡Ver mi progreso!</button>

    <!-- Botón de cierre con emoji y aviso claro -->
    <button class="logout-button" title="Salir del juego" (click)="emitirToggleCerrarSesion()">👋 ¡Hasta pronto!</button>
  </div>
</div>
